<%= page_title custom_text: "Sign In"%>
<br>
<article>
  <%= form_with url: signin_path do |f| %>
    <div class="margin-y-medium"><%= f.email_field :email, required: true, placeholder: true %></div>
    <div class="margin-y-medium"><%= f.password_field :password, autocomplete: "new-password", placeholder: true%></div>
    <%= f.submit 'Sign in' %>
  <% end %>
</article>