<article>
  <h3 class="margin-unset"><%= article.title %></h3>
</article>
<article class="flex-between">
  <h6 class="margin-unset">Created by: <%= link_to "#{article.user&.username}", user_path(article.user) %></h6>
  <div><%= article.user&.created_at.strftime("%B %d, %Y") %></div>
</article>
<article>
  <header>
    <br>
    <div class="flex-between">
      <%= render 'share_links_dd', article: article %>
      <span>
        <% article.categories&.each do |category| %>
          <mark><%= category.name %></mark>
        <% end %>
      </span>
    </div>
    <br>
  </header>
  <p><%= article.content %></p>
  <footer class='article-header-footer-positioning'>
    <span class="padding-y-small">
      <% if show_action_buttons? article %>
        <%= link_to "Edit", edit_article_path(article) %> |
        <%= link_to "Delete", article_path(article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% end %>
    </span>
    <span class="padding-y-small">
      <%= link_to "View all articles", articles_path%>
    </span>
  </footer>
</article>