<%= render 'shared/errors', obj: article %>
<article>
  <%= form_for article do |f| %>
    <div class="margin-y-medium"><%= f.text_field :title, placeholder: true %></div>
    <div class="margin-y-medium"><%= f.rich_text_area :content, placeholder: true %></div>
    <div class="margin-y-medium">
      <%= f.label :category_ids, 'Select categories associated with your article'%>
      <%= f.collection_select :category_ids, Category.all, :id, :name, {multiple: true, size: Category.all.size}%>
    </div>
    <%= f.submit %>
  <% end %>
</article>
