<%= render 'shared/errors', obj: article %>
<div class="container">
  <%= form_for article do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :content%>
    <%= f.text_area :content, rows: 6 %>
    <br>
    <%= f.submit %>
  <% end %>
</div>