<%= render  @article %>
<%# Comments section %>
<h5>Comments (<%= @article.comments.size %>)</h5>
<%= render 'comments/message_form', article: @article %>
<hr>
<br>
<%= turbo_stream_from "comments" %>
<%= render partial: "comments/comment", collection: @article.load_comments%>
