<%= custom_line_break %>
<div class="container">
  <article>
    <h3 class="margin-unset"><%= @article.title %></h3>
  </article>
  <article>
    <p><strong>Created by: Placeholder</strong></p>
  </article>
  <article>
    <header>
      <br>
      <div  class = "flex-between">
        <span>Actions(comment, share)</span>
        <span>
          Placeholder(categories)
        </span>
      </div>
      <br>
    </header>
    <p><%= simple_format(@article.content) %></p>
    <footer class="flex">
      <%= link_to "Edit", edit_article_path(@article)%> |
      <%= link_to "Delete", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> |
      <%= link_to "Back to articles", articles_path%>
    </footer>
  </article>
</div>