<li class="dropdown-top-margin">
  <details class="dropdown">
    <summary role="button" class="outline">
      <strong>Account</strong>
    </summary>
    <ul dir="rtl">
      <li>
        <mark>
          <cite>
            <%= "(admin)" if current_user.admin? %>
            <%= current_user.email %>
          </cite>
        </mark>
      </li>
      <li>
        <%= link_to "Edit your profile", edit_user_path(current_user) %>
      </li>
      <li>
        <%= link_to "View your profile", user_path(current_user) %>
      </li>
      <li>
        <%= link_to "Logout", signin_path, data: {turbo_method: :delete } %>
      </li>
    </ul>
  </details>
</li>