<%= page_title %>
<% @categories.each do |category| %>
  <article>
    <header>
      <h4 class='margin-unset'>
        <%= link_to "#{category.name}", category_path(category) %>
      </h4>
    </header>
    <div>
      In this category you can find <%= pluralize(category.articles.size, 'article') %>
    </div>
    <footer class='article-header-footer-positioning'>
      <% if current_user&.admin? %>
        <span>
          <%= link_to "Rename category", edit_category_path(category) %> |
          <%= link_to "Remove category", category_path(category), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </span>
      <% end %>
      <div>
        <%= link_to "Check articles on this topic", category_path(category) if category.articles.any? %>
      </div>
    </footer>
  </article>
<% end %>
<%= will_paginate @categories %>
