<!DOCTYPE html>
<html>
  <head>
    <title><%= (controller_name == "home") ? APP_NAME : page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-prefetch" content="false">
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <%= tag.link rel: "icon", href: asset_path("logo.png"), type: "image/png" %>
    <%= tag.link rel: "icon", href: asset_path("logo.svg"), type: "image/png" %>
    <%= tag.link rel: "apple-touch-icon", href: asset_path("logo.png"), type: "image/png" %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= content_tag :div, style: "min-height: 100vh" do %>
      <%= render 'shared/navbar/header' %>
      <%= custom_line_break  unless controller_name == "home"%>
      <div class="container">
        <%= yield %>
      </div>
      <%= custom_line_break 2 unless controller_name == "home" %>
    <% end %>
    <%= render 'shared/footer' %>
    <%= render 'shared/flash' %>
    <% if Rails.env.development? %>
      <%= debug(flash) %>
      <p>
        <%= debug(params) %>
      </p>
    <% end %>
  </body>
</html>
